{% extends 'overview/base.html' %}
{% block overview_contents %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Total Count</th>
            <th>% chance of being populated per episode</th>
          </tr>
        </thead>
        <tbody>
          {% for row in subrecords %}
            <tr>
              {% for field in row %}
                <td>
                  {% if forloop.first %}
                    <a href="/overview/subrecord/{{ field.get_api_name }}">
                      {{ field.get_display_name }}
                    </a>
                  {% else %}
                    {{ field }}
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
